body{
  background-color: white;
}
ul,li {
  font-size: 15;
  align-items:center;
  border-bottom-style: groove
  color: blue;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  display: inline;

}
img{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;

}




a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
